html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Poppins;
  background: #FDFDFD;
}

label, input {
  display: block;
}

.navbar-container {
  height: 100px;
  z-index: 101;
  width: 100%;
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

.shorter {
  height: 60px;
}

.fixed {
  position: fixed;
  top: -50px;
}

.fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
}

.login-signup-buttons {
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: normal;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 25px;
}

.toggle-buttons {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  font-size: 14px;
}

.toggle-button-forum {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle-button-workouts {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected {
  border-bottom: 4px solid #4420E7;
  /* text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 14px;
  text-decoration-color: #4420E7; */
}

.logged-username {
  margin-right: 15px;
  font-size: 12px;
}

.logout-button {
  background: none;
  color: #4420E7;
  width: 70px;
  border: none;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: normal;
}

.logout-button:hover {
  font-weight: bold;
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
  padding-left: 15px;
  border: none;
  background-color: #FFFFFF;
  padding: 10px 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.login-button, .signup-button {
  background: #4420E7;
  border: none;
  height: 27px;
  width: 80px;
  border-radius: 10px;
  color: #F1F6FD;
  font-size: 12px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: normal;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Login and Signup Pages */

.login-page {
  padding: 20px;
}

.login-page-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.login-social-logo-corner {
  width: 30px;
}

.login-social-title-corner {
  font-size: 20px;
  margin-left: 10px;
}

.login {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  padding: 60px 30px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid lightgray;
}

.login-social-logo {
  width: 40px;
}

.login-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 28px;
}

.login-to-signup {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 300;
}

.login > input {
  border: 1px solid #ddd;
  max-width: 350px;
  margin-top: 0px;
}

.login > input:focus {
  outline: 1px solid green;
}

.password-requirements {
  font-size: 10px;
  width: 330px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.login > button {
  margin-top: 0px;
  background: #4420E7;
  border: none;
  height: 40px;
  min-width: 200px;
  max-width: 350px;
  border-radius: 15px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-family: Poppins;
  font-weight: normal;
}

.guest-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4420E7;
  border: none;
  height: 40px;
  min-width: 200px;
  max-width: 350px;
  border-radius: 15px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-family: Poppins;
  font-weight: normal;
}

.signup-cta {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
}

.signup-cta-button {
  margin-top: 15px;
  background: #4420E7;
  border: none;
  height: 40px;
  min-width: 200px;
  border-radius: 15px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-family: Poppins;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.social-logo-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  width: 80%;
}

.social-logo {
  width: 20px;
  margin-bottom: 0px;
}

.social-logo-text {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}

.link {
  color: #4420E7;
  text-decoration: none;
}

.sidebar > button {
  background: none;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Poppins;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  padding: 20px 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar > button:hover {
  font-weight: bold;
  background: #F8F8F8;
}

.sidebar-icon {
  height: 20px;
  margin-right: 20px;
}

.posts-and-workouts-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Posts */

.posts {
  margin-bottom: 65px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.topic-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 0px 20px 15px 20px;
}

.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.topic-slogan {
  margin-bottom: 0px;
  margin-top: 0px;
}

.topic-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.trigger-topic {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.topic-icon {
  height: 25px;
  margin-right: 10px;
}

.topic-list {
  width: 200px;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
  max-width: 500px;
}

.form-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  max-width: 500px;
}

.form-flexbox > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.profile-image-form {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  align-self: flex-start;
}

.input-title {
  border: none;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.input-title:focus {
  outline: 1px solid green;
}

.input-content {
  border: none;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
  height: 75px;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  font-family: Poppins;
}

.input-content:focus {
  outline: 1px solid green;
}

.post-form-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4420E7;
  border: none;
  height: 30px;
  width: 35%;
  margin-top: 20px;
  border-radius: 15px;
  color: #F1F6FD;
  font-size: 14px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: normal;
}

.add-post-button:hover {
  background: #4420E7BB;
}

.add-icon {
  width: 16px;
  margin-left: 7px;
}

.input-button {
  background: #4420E7;
  border: none;
  height: 35px;
  width: 45%;
  border-radius: 15px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: normal;
}

.cancel-button {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4420E7;
  border: none;
  height: 35px;
  width: 45%;
  border-radius: 15px;
  color: #F1F6FD;
  font-size: 16px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: normal;
}

.input-error {
  margin-top: 0px;
  margin-bottom: 15px;
  color: red;
}

.post {
  border: .5px solid lightgray;
  display: flex;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  background-color: #FFFFFF;
  margin-top: 0px;
  padding: 20px 20px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.post-content-container {
  margin-top: 0px;
  width: 90%;
  margin-left: 15px;
}

.post-top-row {
  display: flex;
  justify-content: space-between;
}

.author {
  margin-top: 10px;
  font-size: 12px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
}

.content {
  font-size: 14px;
}

.date {
  font-size: 10px;
}

.delete-button {
  background: #EB5429;
  border: none;
  height: 30px;
  padding: 0px 10px;
  border-radius: 15px;
  color: #F1F6FD;
  font-size: 12px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: normal;
}

/* Workouts */

.workouts {
  min-height: 1000px;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
  margin-right: 50px;
}

.workouts-slogan {
  margin-top: 0px;
  margin-bottom: 0px;
}

.workout-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  padding: 0px 20px 15px 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins;
}

.workout-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.select-container {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  width: 150px;
  height: 55px;
}

.select-container>label {
  font-weight: bold;
  font-size: 16px;
}

.workout-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.select-exercise {
  width: 130px;
  border-radius: 5px;
  height: 25px;
  font-family: Poppins;
  font-size: 12px;
}

.workout {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F8F8F8;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px 20px;
  font-family: Poppins;
}

.workout-name {
  font-size: 16px;
  align-self: center;
  font-weight: bold;
}

.workout-muscle {
  font-size: 10px;
  align-self: center;
  margin-left: 10px;
}

.workout-instructions {
  font-size: 12px;
  margin-top: 10px;
  max-height: 800px;
  transition: max-height 1s ease;
}

.text-truncate {
  display: inline-block;
  max-width: 500px;
  max-height: 20px;
  overflow: hidden;
  transition: max-height 1s ease;
}

.workout > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 20px;
  border: none;
  background: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: .75em;
  cursor: pointer;
}

.error {
  outline: 2px solid red;
}

.error-text {
  color: red;
  font-size: 10px;
  width: 330px;
  margin-bottom: 10px;
}

.marginTop {
  padding-top: 100px;
}

/* tablet & mobile styling */

@media screen and (max-width: 900px) {

  .navbar {
    height: 50px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FDFDFD;
    margin-left: 20px;
    margin-top: 20px;
  }

  .posts-and-workouts-container {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
  }

  .posts {
    min-width: 0px;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }

  .post {
    min-width: 0px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

  .topic-slogan {
    font-size: 20px;
  }

  .topic-trigger {
    margin-top: 10px;
  }

  .topic-icon {
    width: 16px;
    height: 16px;
  }

  .trigger-topic {
    font-size: 16px;
  }

  .add-post-button {
    width: 110px;
    height: 25px;
    font-size: 12px;
    font-weight: normal;
  }

  .add-post-button>img {
    width: 14px;
  }

  .workouts {
    min-width: 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .workouts-slogan {
    font-size: 20px;
  }

  .select-container>label {
    font-size: 12px;
  }

}

